html, body
{
    height: 100vh;
}

body{
    background-image: url("https://i.picsum.photos/id/1056/3988/2720.jpg?hmac=qX6hO_75zxeYI7C-1TOspJ0_bRDbYInBwYeoy_z_h08");
    font-family:  sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app{
    display: flex;
    flex-direction: column;
    background:transparent;
    padding:10px;
    height: 95%;
    border-radius: 10px;
    box-shadow: 10px 10px 14px 1px rgba(00,00,00,0.2);
}

.entry{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    text-align: center;
}

#entryHolder{
    width: 350px;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    text-align: center;
    /*border: 1px solid white;*/
}

#date{
    color:#2B4D59;
    font-weight: 600;
    margin-top: 5px;
}

#temp{
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    color: rgba(0, 0, 0, 0.73);
    font-weight: 800;
    font-size: 40px;
}


#description{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.73);
}

#myFeelings{
    color: #01070e;
}

#location{
    color: #071c46;
    font-weight: 800;
    font-size: 30px;
}

#content{
    color: rgba(0, 0, 0, 0.6);
}
#message{
    color: rgba(0, 0, 0, 0.73);
    font-size: 30px;
    font-weight: 700;
}

.headline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: #01070e;
}

.title{
    color: #01070e;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:flex;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    color:#ffffff;
}

input{
    display: flex;
    justify-content: center;
    height: 25px;
    width: 75%;
    background: #ffffff;
    color: rgba(0, 0, 0, 0.73);
    border: solid 1px #000000;
    padding-left: 15px;
    border-radius: 20px;
    font-size: 20px;
    font-family:  sans-serif;
    margin: 5px auto;
    text-align: start;
    box-shadow: 10px 10px 14px 1px rgba(00,00,00,0.2);
    letter-spacing: 0.094em;
}

button{
    width: 220px;
    height: 30px;
    margin: 10px auto;
    background: #7319a9;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    border: none;
    border-radius: 50px;
    box-shadow: 2px 4px 5px #444;
}

h1{
    font-size: 36px;
}

p{
    margin: 5px 0;

}
ul{
    padding: 0;
}

li{
    list-style-type: none;

}
#feelings{
    display: flex;
    width: 75%;
    margin: 5px auto;
    padding-left: 15px;
    border-radius: 20px;
    background:#ffffff;
    color: rgb(34, 34, 34);
    font-size: 20px;
    font-family: sans-serif;
    border: solid 1px #000000;
}
#errorMessage{
    color: #7319a9;
    font-weight:800;

}


